<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="this_project" value="nugets" />
    <!-- <add key="xbindings" value="https://www.myget.org/F/xbindings/api/v3/index.json" /> -->
  </packageSources>
  <packageSourceCredentials>
  </packageSourceCredentials>
</configuration>