<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="6.5.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Ideine.ModernHttpClient" version="3.2.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Splat" version="2.0.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.280555" targetFramework="portable45-net45+win8+wpa81" />
</packages>