<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="Naxam.Mapbox.iOS" version="4.3.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.1.4.168" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.60.3" targetFramework="xamarinios10" />
  <package id="Splat" version="5.0.2" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.2.0.839982" targetFramework="xamarinios10" />
</packages>