<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="2.1.0" targetFramework="xamarinios10" />
  <package id="Acr.UserDialogs" version="7.0.1" targetFramework="xamarinios10" />
  <package id="BTProgressHUD" version="1.2.0.6" targetFramework="xamarinios10" />
  <package id="Ideine.ModernHttpClient" version="3.2.2" targetFramework="xamarinios10" />
  <package id="Naxam.Mapbox.iOS" version="4.1.1" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="Rg.Plugins.Popup" version="1.0.4" targetFramework="xamarinios10" />
  <package id="SkiaSharp" version="1.60.0" targetFramework="xamarinios10" />
  <package id="Splat" version="3.0.0" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.5.1.444934" targetFramework="xamarinios10" />
</packages>